# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Esfmt'
      'submenu': [
        {
          'label': 'Format Selection'
          'command': 'atom-esfmt:formatSelection'
        },
        {
          'label': 'Format File'
          'command': 'atom-esfmt:formatFile'
        }
      ]
    ]
  }
]
